{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">
</head>
<body class="jumbotron">
<div style="padding-top: 0 !important;">
    <div class="container">
        <div class="login-status">
            <a href="{% url 'logout' %}">
                <button name="logout" class="btn btn-danger">logout</button>
            </a>
        </div>
        <div class="text-center welcome">
            <h1>please enter router credentials </h1>
        </div>
        <div class="loginForm">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <p style="color: red"> {{ error }}</p>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">ip</label>
                    <div class="col-sm-10">
                        <input type="text" name="ip" class="form-control" placeholder="router ip">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">interface</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="interface" placeholder="interface">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>


